body {
    font-family: "Open Sans", sans-serif;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif; 
}

p1 {
    text-align: center;
}

img {
    width: 100%;
    height: auto;
}

#logo {
    width: 120px;
}
#logo_color {
    background-color: lightgray
}
#logo_color a:hover {
    background-color: darkgray;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul li {
    float:left;
}

ul li a {
    display: block;
    color: white;
    text-align: center;/*centers text in navbar vertically and horizontally*/
    vertical-align: middle;
    line-height: 0px;
    padding: 26px 30px;
    text-decoration: none;
}/**/

.navtext{
    text-align: center;/*centers text in navbar vertically and horizontally*/
    vertical-align: middle;
    line-height: 41px;
}
li a:hover {
    background-color: #111;
}/* Change the link color to #111 (black) on hover */

#intro-words {
    font-family: Haettenschweiler;
    font-size: 15vw;
    font-style: normal;
    font-variant: small-caps;
    font-weight: 400;
    line-height: 11px;
}
.container1{
    height : 30vw;
    background-color:plum;

}
#mission_statement{
    text-align: center;
    vertical-align: middle;
    line-height: 30vw;     
}
#abuse_blurb{
    text-align: center;
    vertical-align: middle;
    line-height: 30vw;   
}
.perspective_forum{
    text-align: center;
    background-color: aquamarine;
}
.container2{
    float: left;
    clear: none;
    height : 20vw;
    width : 100%;
    background-color:deepskyblue;
    margin-left:auto;
    margin-right:auto;
}
.left{
    height : auto;
    width : calc((100%-30px)/3);
    float: left;
    clear: none;
    text-align:center;
}
.middle{
    height : auto;
    width : calc((100%-30px)/3);
    float: left;
    clear: none;
    text-align:center;
}
.right{
    height : auto;
    width : calc((100%-30px)/3);
    float: left;
    clear: none;
    text-align:center;
    margin: 10px 0px 10px 10px;
}
ul.tab {
    list-style-type: none;
    margin: 0;
    padding:0px;
    overflow: hidden;
    border: 1px solid #333;
    background-color: #333;
}

/* Float the list items side by side */
ul.tab li {
    float: left;
    width: 50%;
    text-align: center;

}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 40px 25%;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.tab li a:hover {
    background-color: #111;
}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {
    background-color: #333;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
.newspaper {
    -webkit-columns: 100px 4; /* Chrome, Safari, Opera */
    -moz-columns: 100px 4; /* Firefox */
    columns: 100px 4;
}

